  html, body {
  height: 100%;
  width: 100%;
  background-color: #ddd;
  margin: 0;
  overflow-x: hidden;
  font-family: calibri;
  box-sizing: border-box;
}
#navBar{
  position: fixed;
  border: 1px solid black;
  margin: 0px;
  overflow: hidden;
  height: 10%;
  width: 100%;
  z-index: 2;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
  height: 100%;
}
li a {
  display: block;
  color: #FFF;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  height: 100%;
}
#searchElem{
  width: 25%;
}
li a:hover {
  background-color: #111;
  cursor: pointer;
}
#searchbar{
  width: 85%;
}
#logo{
  display: block;
  width: 400px;
  height: 100%;
  background-size: 100% 50%;
  background-image: url("Images\\logo.png");
}
button{
  cursor: pointer;
}
.search{
  height: 40%;
  margin-top: 5%;
}
.dataBtn{
  position: absolute;
  background-color: #a288e3;
  width: 10%;
  top: 20%;
  height: 60%;
  font-size: 1.15em;
  border-radius: 25px;
}
.dataBtn:hover{
  background-color:#8e6edd;
}
.dataBtn:active{
  background-color: #816CB5;
}
#login{
  right: 17%;
}
#signup{
  right: 5%;
}

#upperContent, #lowerContent{
  
}
#upperContent{
  height: 50%;
  padding: 5%;
  text-align: center;
  font-size: 2em;
  margin-top: 10%;
  background-color: #888;
}

#random{
  text-decoration: underline dotted;
  color: #a288e3;
  cursor: pointer;
}
#lowerContent{
  margin-bottom: 1%;
  height: 60%;
}
.topic{
  display: inline;
  float: left;
  height: 60%;
  width: 20%;
  margin-left: 4%;
  cursor: pointer;
}
.topic header{
  border: 2px solid black;
  width: 100%;
  background-color: #04a96d;
  color: 423e37;
  text-align: center;
  vertical-align: text-bottom;
  font-size: 1.5em;
  transition: font-size 0.5s;
}
img{
  height: 0%;
  width: 100%;
  transition: 0.5s;
}

.topic:hover img{
  height: 85%;
}
.topic:hover header{
  font-size: 1.8em;
  background-color: #a288e3;
}